In [ ]:
Exercise 2 - Create a markdown cell with the title of the notebook.

# Module 6 Assignment

In [ ]:
Exercise 3 - Create a markdown cell for an introduction.

## Introduction
This cell is an introduction for Module 6 Assignment.

In [ ]:
Exercise 4 - Create a markdown cell to list data science languages.

## Data Science Languages
Some popular programming languages in Data Science are:
- Python
- R
- SQL
- Julia
- Scala
- Java
- C++

Exercise 5 - Create a markdown cell to list data science libraries.

## Data Science Libraries
Ordered list of some popular libraries used in Data Science:
1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow
6. PyTorch
7. Keras

In [ ]:
Exercise 6 - Create a markdown cell with a table of Data Science tools.

## Data Science Tools

| Tool            | Description                               |
|-----------------|-------------------------------------------|
| Jupyter Notebook| An open-source web application for coding, writing, and sharing notebooks. |
| RStudio         | An IDE for the R programming language.   |
| Apache Spark    | A unified analytics engine for big data processing. |
| TensorFlow      | An open-source platform for machine learning. |
| Tableau         | A visual analytics platform for data visualization. |

In [ ]:
Exercise 7 - Create a markdown cell introducing arithmetic expression examples.

## Arithmetic Expression Examples
Below are some examples of basic arithmetic expressions:

- Addition: 5 + 3 = 8
- Subtraction: 10 - 7 = 3
- Multiplication: 4 * 6 = 24
- Division: 20 / 5 = 4

In [ ]:
Exercise 8 - Create a code cell to multiply and add numbers.

In [5]:
# Multiplication
product = 8 * 7
print("The product resul is:", product)

# Addition
sum_result = 8 + 7
print("The sum result is:", sum_result)

The product resul is: 56
The sum result is: 15

In [ ]:
Exercise 9 - Create a code cell to convert minutes to hours.

In [7]:
minutes = 150
hours = minutes / 60
print(str(minutes) + " minutes are " + str(hours) + " hours")

150 minutes are 2.5 hours

In [ ]:
Exercise 10 -Insert a markdown cell to list Objectives.

## Objectives
The objectives of this notebook are:
- Learn Data Science.
- Learn how to use Jupyter Notebooks.
- Learn Python.

In [ ]:
Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name.

## Author
This notebook was created by:
Natalia Palomo

In [ ]:
Exercise 12 - Share your notebook through GitHub